@model IEnumerable<demoTMDT.Models.DienThoai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KhachHang.cshtml";
}



@foreach (var pro in Model)
{
    <div class="col-md-3 reset-size">
        <div class="product-items">
            <a href="@Url.Action("CT_SP", "ListDT" , new { id = pro.IdDT } )">

                <div class="img-product">
                    <img src="@Url.Content(pro.hinh1)" />

                </div>


                <div class="product-infomation">

                    <p class="reset-size">@Html.DisplayFor(Model => pro.TenDT)</p>
                    <span>@Html.DisplayFor(Model => pro.Gia)đ</span>
                </div>
            </a>
        </div>
    </div>
}




