
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .customer {
        margin: 20px 0px;
        background-color: white;
    }

        .customer h2 {
            font-weight: bold;
            padding: 10px !important;
            margin: 0px;
            text-align:center;
            background-color:red;
            color:white;
        }

    .img-customer {
        width: 100%;
        height: 200px;
        padding: 20px;
    }

</style>

<div id="wrapper">

    <div class="hot-promotion">

        <div class="row reset-size">

            @RenderBody()

        </div>
        <div class="customer">
            <h2>KHÁCH HÀNG TỚI CLICKBUY</h2>
            <div class="row reset-size">
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a12.png" class="img-customer" alt="">
                </div>
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a13.png" class="img-customer" alt="">
                </div>
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a14.png" class="img-customer" alt="">
                </div>
                <div class="col-md-3 reset-size">
                    <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a16.png" class="img-customer" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- end Home -->
    <!-- end Home -->
