
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    .row {
        margin-top: 20px;
    }

    .news {
        background-color: white;
        padding: 10px;
        box-shadow: 1px 1px 1px gray;
    }

        .news h2 {
            color: #c91d32;
            padding: 5px;
            border-bottom: 2px solid #c91d32;
        }

    .content {
        height: 150px;
    }

    .img-post {
        width: 40%;
        padding: 10px;
    }

        .img-post a img {
            width: 100%;
            height: 100%;
        }

    .post {
        width: 60%;
        padding: 10px;
    }

        .post a {
            color: black;
        }

            .post a:hover {
                color: #e12600;
            }

    .hot-promotion {
        background-color: white;
        padding: 10px;
        box-shadow: 1px 1px 1px gray;
    }

        .hot-promotion h2 {
            color: #c91d32;
            padding: 5px;
            border-bottom: 2px solid #c91d32;
        }

    .content {
        height: 140px;
    }

    .img-product {
        width: 40%;
        padding: 10px;
    }

        .img-product a img {
            width: 100%;
            height: 100%;
        }

    .info {
        width: 60%;
        padding: 10px;
    }

        .info a {
            color: black;
        }

            .info a:hover {
                color: #e12600;
            }


    .product-item {
        border: 1px solid #f6f6f6;
    }
    .img-product {
        margin: 0px auto;
        width: 300px;
        height: 220px;
        display: block;
    }

        .product-item .img-product img {
            width: 100%;
            height: 90%;
            transition: all 0.5s ease;
            object-fit: contain;
        }

            .product-item .img-product img:hover {
                height: 100%;
            }

        .product-item a {
            text-decoration: none;
            color: black;
            text-align: center;
        }

            .product-item a:hover {
                text-decoration: none;
            }

    .product-infomation {
        padding: 0 15px 15px 15px;
    }

        .product-infomation p {
            font-weight: bold;
        }

        .product-infomation span {
            color: #e12600;
            font-weight: bold;
        }

    .customer {
        margin: 20px 0px;
        background-color: white;
    }

        .customer h2 {
            font-weight: bold;
            padding: 10px !important;
            margin: 0px;
            text-align: center;
            background-color: red;
            color: white;
        }

    .img-customer {
        width: 100%;
        height: 200px;
        padding: 20px;
    }
</style>



<div id="wrapper">
    <div class="row">
        <div class="col-md-8">
            <div class="news">
                <h2>TIN NỔI BẬT</h2>
                @RenderBody()
            </div>
        </div>
        <div class="col-md-4">
            <div class="hot-promotion">
                <h2>KHUYẾN MÃI HOT</h2>
                <div class="product-item">
                    <a href="">
                        <div class="img-product">
                            <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/08/11-2-300x300.jpg"
                                 alt="">
                        </div>
                    </a>
                    <a href="">
                        <div class="product-infomation">
                            <p class="reset-size">Apple iPhone 11</p>
                            <span>13690000 đ</span>
                        </div>
                    </a>
                </div>
                <div class="product-item">
                    <a href="">
                        <div class="img-product">
                            <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/10/3-1-300x300.jpg"
                                 alt="">
                        </div>
                    </a>
                    <a href="">
                        <div class="product-infomation">
                            <p class="reset-size">Galaxy Z Fold3</p>
                            <span>34990000 đ</span>
                        </div>
                    </a>
                </div>  
            </div>
        </div>
    </div>
    <div class="customer">
        <h2>KHÁCH HÀNG TỚI CLICKBUY</h2>
        <div class="row reset-size">
            <div class="col-md-3 reset-size">
                <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a12.png" class="img-customer" alt="">
            </div>
            <div class="col-md-3 reset-size">
                <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a13.png" class="img-customer" alt="">
            </div>
            <div class="col-md-3 reset-size">
                <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a14.png" class="img-customer" alt="">
            </div>
            <div class="col-md-3 reset-size">
                <img src="https://uqoojcos5nobj.vcdn.cloud/uploads/2021/01/a16.png" class="img-customer" alt="">
            </div>
        </div>
    </div>
</div>
<!-- end news -->